.App {
  margin: 0;
  background-color: #1a1a1d;
  font-family: "Quicksand";
  color: white;
}

.App-body {
  background-color: #1a1a1d;
  font-family: "Quicksand";
  color: black;
}

.Container {
  height: 100vh;
}

.Graph {
  height: 100vh;
}
