body {
  margin: 0;
  background-color: #2e3033;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #2e3033;
}
html {
  background-color: #1a1a1d;
}
